package shared

templ EmptyState(title, subtitle string) {
	<div class="empty">
		<div class="empty__icon">
			{ children... }
		</div>
		<div class="empty__title">{ title }</div>
		if subtitle != "" {
			<p class="empty__body">{ subtitle }</p>
		}
	</div>
}
