package shared

import "strconv"

templ NeonProgress(percent int) {
	<div class="progress" role="progressbar" aria-valuenow={ strconv.Itoa(percent) } aria-valuemin="0" aria-valuemax="100">
		<div class="progress__bar" style={ "width: " + strconv.Itoa(percent) + "%" }></div>
	</div>
}
