package badge

templ DataSourceType(dsType string) {
	switch dsType {
		case "plugins":
			<span class="pill pill--plugin">Plugin</span>
		case "themes":
			<span class="pill pill--accent">Theme</span>
		case "cores":
			<span class="pill">Core</span>
	}
}
